*{
    margin: 0;
    padding: 0;
}
.max-width{
    max-width: 1200px;

}
.header{
    display:flex;
    background: red;
    width:100%;
    padding:10px;
}
body{
    background-color: rebeccapurple;
}
.header-left{
    width: 30%;
}
.header-right{
    display: flex;
    width: 70%;
}
.header-right-search{
    width: 40%;
}
.header-right-search input{
    width: 100%;
    font-size: 16px;
    color: #0a001f;
    border: 10px;
    position: relative;
}
.header-right-search i{
    position: absolute;
}
.header-right-menu{

}
ul.menu-nav{
    display:flex;
}
ul.menu-nav li{
    list-style-type: none;
}
